/**{
	box-sizing: border-box;
}*/
/*@media (max-width: @screen-xs) {
    body{font-size: 0.7em;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}*/
	/*@media (max-width: 62em) {
	    p {
	    font-size: 15px !important;
		}
	}
	@media (max-width: 43.75em) {
	    p {
	    font-size: 3px !important;
		}
	}*/
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em !important; /* 1.5x default size */
    }
}
@media all and (max-width: 600px) { /* screen size until 1000px */
    body {
        font-size: 1.3em !important; /* 1.2x default size */
        }
    }
@media all and (max-width: 400px) { /* screen size until 500px */
    body {
        font-size: 3.2vw !important; /* 0.8x default size */
        }
    }


.z-top-header{
	border-bottom: 2px solid rgba(250, 150, 35, 1);
	z-index: 50;
}
#z-logo-area{
	display: inline-block;
}
.z-logo-area > a{
	display: inline-block;
}
.z-logo-area h1{
	display: inline-block;
	transform: translateY(25%);
	font-size: 3.5em;
}
.z-logo-area #hub-h1{
	transform: translate(-30%,100%);
}
.navbar{
	background-color: rgba(245, 91, 11, 1);
}
.nav{
	//float: right;
	background-color: rgba(0,0,0,0.9);
	margin-right: 20%;
}
/*.navbar-nav li > a{ to target the direct childrens only*/
	.nav a{
	color: rgba(250, 150, 35, 1);
}
.navbar .nav .z-active-nav{
	background-color: rgba(245, 91, 11, 1);	
}
.navbar .nav .z-active-nav > a{
	color: rgba(0,0,0,1);
	font-weight: bold;
}
.navbar .nav li:hover{/*not working right now because HOVER event is being listened by JQuery*/
	background-color: rgba(245,91,11,1);
}
/*.z-custom-carousel{//commented for now due to layout issues on smaller screens
	top:222px;
	height: 68%;
}*/
.our-services{
	border: 1px dashed rgba(245,91,11,1);
	background-color: rgba(245,91,11,1);
	height: 310px;
}
.our-services .service-item{
	background-color: black;
	border:5px solid white;
	height: 100%
}
/*.container{
	width:80%;
}*/
/*-----------includes for our CART TOP BAR-------------------------------------*/
.cart-placeholder{height: 35px;}
.go-cart{width: 100%; left: 0; padding: 0px; height: 35px; background-color: #000; position: fixed; z-index: 999;}

#info-div-1{height:35px; width:75%; background-color: rgba(245,91,11,1); color:#000; display:inline-block;}
#cart-icon{height: 25px; width:10%; display:inline-block; position:relative; top:0px; z-index:999}
#logo-cart {height: 25px; width:25px; display:inline-block; position:relative; margin-left:35%; top:0px; background-image:url(images/ie_transparency.png); background-color: #fff; z-index:999}

#expandCart{position: absolute; width:100%; height:150px; top:-185px; margin: 0px auto; background-color:rgba(245,91,11,1); 
	color: #000; font-size:medium; z-index:55; visibility:visible; opacity: 0.85; }

	.cart-item{
		
	}
/*------------------------------------------------------------------------------*/

/*INDIVIDUAL Item related CSS on PRODUCTS PAGE--------------------------------------*/
			.item-container{
				//max-width: 980px;
				width: 95%;
				margin: 0 auto;
				position: relative;

			}
			.item-container .div-action-pos{
				position: relative;
			}
			.item-container .div-action{
				position:relative;
				width: 100%;
				display: block;
				height: 85px;
				border: 1px solid rgba(245,91,11,1);
				margin: 0 0 5px 0px;

			}
			.item-container .div-action .item-content{
				width: 100%;
				height: inherit;
				position:absolute;
				
				-webkit-transition-property: background-color, color;
				-webkit-transition-duration: 0.5s;
				-webkit-transition-timing-function: ease-in-out;
				-moz-transition-property: background-color, color;
				-moz-transition-duration: 0.5s;
				-moz-transition-timing-function: ease-in-out;
				transition-property: background-color, color;
				transition-duration: 0.5s;
				transition-timing-function: ease-in-out;
				/*position: absolute;*/
				/*left:50px;*/
				/*transform: translateX(50px);*/
				z-index: 50;

			}
			.item-container .div-action .item-content a{
					display: inline-block;
					padding-left: 50px;
					z-index: 550;
			}
			.item-container .div-action .item-content .item-img-cont{
				width:15%;
				height:inherit;
				float:left;
				/*z-index: 52;*/
				/*display: inline-block;*/
				margin-top: 0px;
				border-right: 2px dashed black;
				margin-right: 5px;
			}
			.item-container .div-action .item-content .item-img-cont img{
					width:auto;
					height:auto;
					-webkit-transform: translateY(10%);
					-moz-transform: translateY(10%);
					transform: translateY(10%);
					margin-left: 50%;
					transform: translateX(-50%);
			}
			/*.item-container .div-action .item-content h3{ //TEMPORARILY Commented as I moved heading inside .ITEM-DETAILS Class
					display: inline;
					padding-left: 5px;
					z-index: 550;
					//color:rgba(245,91,11,1); originally a comment
					color: black;
			}*/
			.item-container .div-action .item-content  .item-details{
				display: inline-block;
				width: 69%;
				height: inherit;
			}
			.item-container .div-action .item-content  .item-details h3{
				display: block;
				line-height: 0;			
			}
			.item-container .div-action .item-content  .item-details p{
				/*display: inline-block;*/
				padding-left: 2%;
				padding-top: 1%;
/*				font-size: 1em;
				line-height: initial;*/
				/*font-size: 1em;
    			font-size: 1.5vw;*/
			}
			
			/*----ADD TO CART Option after every Item------------------------------------------------------*/
			 .item-container .div-action .item-content .add-to-cart{
				display: inline-block;
				top: 0;
				position: absolute;
				height: inherit;
				width: 14.5%;
				border-left: 2px dashed black;
			}
			.item-container .div-action .item-content .add-to-cart img{
				margin-top: 5%;
				margin-left: 50%;
				transform: translateX(-54%);
			}
			.item-container .div-action .item-content .add-to-cart a{/*change the generic effect on links later*/
				display: block;
				color:black;
				text-align: center;
				z-index: 550;
			}
			/*------------------END of series of classes for 'ADD TO CART' Option at end of every item-----*/
			
			.item-container .div-action .item-content:hover{ /*Hover over main Container of an Individual ITEM*/
				cursor: pointer;
				/*left: 0;*/
				/*width: 100%;*/
				background-color: rgba(245,91,11,1);
				color: black;
				-webkit-transform: scale(1.05, 1.5) translateX(0px);
				-moz-transform: scale(1.05, 1.5) translateX(0px);
				transform: scale(1.1, 1.1) translateX(0px);
				z-index: 151;

			}/*End of Hover function over individual item*/
/*--------------END OF "INDIVIDUAL Item related CSS" on PRODUCTS PAGE--------------------------------------*/

.item-ghost{/*Ghost of an item div that will be used for cloning purpose*/
	position: absolute;
	width: 100%
	z-index: 999;
	background-color: rgba(245,91,11,1);
	opacity: 1;
}
/*.main{//temporarily commented the MAIN CONTAINER SECTION FOR CONTENT
	border-right: 5px solid rgba(245,91,11,1);
	border-left: 5px solid rgba(245,91,11,1);
	border: 2px dashed rgba(245,91,11,1);
}